.introducao_bg {
  background-color: var(--c12);
  box-shadow: inset 0 -120px var(--W);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  box-sizing: border-box;
  padding: 0 20px;
}

.introducao h1 {
  margin-bottom: 2rem;
}

.introducao p {
  margin-bottom: 1.25rem;
}

.introducao img {
  height: 100%;
  object-fit: cover;
}
.introducao_conteudo {
  align-self: end;
  padding-bottom: 200px;
}

@media (max-width: 800px) {
  .introducao_bg {
    background: var(--c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--W);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao_conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
